
<h1 style="text-align: center;font-weight: bold;font-size: 40px;color:blue">Desafio Teia</h1>

<br>
<table style="margin: auto;" >
  <tr>
    <th>Album</th>
    <th>Música</th>
    <th>título</th>
    <th>Capa</th> 
    <th>Gostei</th> 
    <th>Comentário</th> 
  </tr>
  <tr *ngFor="let photos of photos" let i=index;>
    <td>{{photos.albumId}}</td>
    <td>{{photos.id}}</td>
    <td>{{photos.title}}</td>
    <td><img class="imagem" src={{photos.thumbnailUrl}} width="40" height="20" alt="Imagem"  /> </td> 
    <td><input type="checkbox" /> </td> 
    <td><input type="text" /> </td> 
  </tr>
  <tr>
</table>

<mat-paginator
 [length]="totalItems" 
 [pageSize]="pageSize" 
 [pageIndex]="currentPage" 
 (page)="pageChanged($event)"
 [pageSizeOptions]="[5, 10, 25, 100]"
 >
</mat-paginator>
